/* --------------------------------------------------------------------- File Name: style.css --------------------------------------------------------------------- */
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

body {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    overflow-x: hidden;
    font-family: "Sans Serif Collection", sans-serif;
}

button:focus {
    outline: none;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

.lead {
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #000000 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.product {
    float: inherit;
    padding-bottom: 150px;
}

.title_product {
    width: 100%;
    font-size: 40px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
}

.product_2 {
    margin-top: 30px;
}

.box {
    background-color: #ffffff;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    border-radius: 20px;
    margin-bottom: 20px;
}

.box_main {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
}

.product_name {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    text-align: center;
    margin: 0px;
}

.product_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 370px;
}

.btn_main {
    width: 100%;
    display: flex;
}

.buy_bt {
    float: left;
    width: 100%;
}

.buy_bt input {
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #004cff;
    text-align: right;
    font-weight: bold;
}

.buy_bt input:hover {
    background-color: transparent;
    color: #004cff;
}

.seemore_bt {
    float: right;
    text-align: right;
}

.seemore_bt a {
    font-size: 16px;
    color: #004cff;
    background-color: #00000000;
    text-align: right;
}

.seemore_bt a:hover {
    background-color: #004cff;
    color: #ffffff;
}

#main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #004cff;
}

/* fashion section end */
